<div class="task-list">
  <h2>Task List <a routerLink="/add" class="btn btn-primary btn-sm">Add Task</a></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.dueDate }}</td>
        <td>
          <a class="btn btn-primary mx-2" routerLink="/edit/{{task.id}}">Edit</a>
          <a class="btn btn-danger" (click)="deleteTask(i)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
